{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block bodyclass %}login{% endblock %}

{% block body %}
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-one-third">
                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            <div class="mb-3">
                                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                            </div>
                        {% endif %}

                        <h3 class="title is-3">Please sign in</h3>

                        <div class="field">
                            <label for="inputEmail" class="label">Email</label>
                            <div class="control">
                            <input class="input" type="email" value="{{ last_username }}" name="email" id="inputEmail" required autofocus>
                            </div>
                        </div>

                        <div class="field">
                            <label for="inputPassword" class="label">Password</label>
                            <div class="control">
                                <input class="input" type="password" name="password" id="inputPassword" required>
                            </div>
                        </div>

                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >

                        <label class="checkbox">
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>

                        <div class="field is-grouped">
                            <div class="control">
                                <button class="button is-light" type="submit">
                                    Sign in
                                </button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
            </div>
        </section>
{% endblock %}

