{% extends 'base.html.twig' %}

{% block title %}Ben&lsquo;s Forum{% endblock %}

{% block stylesheets %}
    <style>
    .logout-link { color: #fff; }
    .icon { font-size: 2em; }

    .thread-author { text-align: right; }
    .subforum-threads a { color: #004c41; }
    .subforum-threads a:hover { font-weight: bold; }
    </style>
{% endblock %}

{% block body %}
    <section class="intro hero is-primary">
        <div class="hero-body">
            <div class="container">
                <div class="columns">
                    <div class="column is-one-quarter">
                    <h1 class="title">Ben&rsquo;s Forum</h1>
                    <h2 class="subtitle">A friendly place to discuss things</h2>
                    </div>
                    <div class="column is-one-quarter">&nbsp;</div>
                    <div class="column is-one-quarter">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <p>Logged in as </p>
                            <h3 class="subtitle">{{ app.user.email }}</h3>
                        {% endif %}
                    </div>
                    <div class="column is-one-quarter">
                        <a href="{{ path('app_logout') }}" title="Logout" class="logout-link">
                            <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% for subforum in subforums %}
    <section class="section">
    <div class="container">
        <nav class="panel">
            <p class="panel-heading">
                {{ subforum.name }}
            </p>
            {% for thread in subforum.threads %}
            <div class="panel-block subforum-latest-threads subforum-threads">
                <div class="container">
                <div class="columns">
                    <div class="column is-two-thirds thread-topic">
                        <a href="{{ path('thread', {id:thread.id}) }}">{{ thread.topic }}</a>
                    </div>
                    <div class="column is-one-third thread-author">
                        <a href="">{{ thread.author.username }}</a>
                    </div>
                </div>
                </div>
            </div>
            {% endfor %}
        </nav>
    </div>
    </section>
    {% endfor %}

</div>
{% endblock %}
